
.wrapper {
    background-color: white;
    border: 1px solid ;
    border-radius: 10px;
    margin: 5rem auto;
    box-shadow: 5px 5px 10px 5px rgb(83, 80, 80);
    justify-content: center;
    width: 900px;
    padding: 1%;
  
}

.header .background img {
    width: 100%;
    height: 100px;


} 

.symbol .logo img{
   
    width: 68px;
    position: absolute;
    top: 13.5%;
    left: 26%;
    right: 30%;
}

.symbol .name{
  
    position: absolute;
    top: 14.5%;
    left: 31%;

}

.header .logo img{
    width: 65px;
}


.menu {
    background-color: grey;
    width: 100%;

}



.menu ul li{
    display: flex;
    display: inline;
    list-style: none;
    margin-right: 5px;
    text-decoration: none;
    color: black;
}

.menu ul li:hover {
    color: white;
}

.menu .sub-menu a {
    text-decoration: none;
}

.container-content .content h3 {
    color: gray;
    font-size: larger;
}

.container-content .content h4 {
    color: red;
    font-size: medium;
    
}

.container-content .content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    color: grey;
}





.wrapper .section {
    height: 500px;
    width: 15%;
    background-color: azure;
    float: right;
    border: solid;
}

.footer {
    background-color:grey;
    width: 100%;
    padding-top: 1%;
    padding-left:1% ;
    
}